# ignore the references
/ref/*
/ref

# ignore the images, but not the metapost source files
/img/*
!/img/*.mp

# ignore the misc. LaTeX and MPost output
physics.*
!physics.tex
*.aux
*.log
*.mpx
*.out
*.pdf
*.toc
